<!-- changing and updating the name in personal details would require updating it in the header as well, hence why the header is included here as an out-of-band swap  -->

<div class="headerBox" id="headerBox" hx-swap-oob="true">
    <h1>{{ user_data.firstname }}&nbsp;{{ user_data.lastname }}</h1>
    <h2>{{ user_data.email }}</h2>
</div>

<!-- updating details would require updating the completion percentage, hence added as an out-of-band swap  -->
<div id="profile_completion" hx-swap-oob="true">
    <h2>Profile Completion</h2>
    <p>{{user_data['completion_percentage']}}%</p>
</div>


<div id="userInfo">
    <h1>Personal Details</h1>
    <!-- loading animation -->
    <div class="loader htmx-indicator"  id="details-loader"></div>
    <!-- edit button: -->
    <svg class="editBtn pdEdit" width="64px" height="64px" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg" stroke="#000000"
        hx-get="/edit/personal_details" 
        hx-trigger="click" 
        hx-target="#userInfo"
        hx-swap ="outerHTML"
        hx-indicator="#details-loader"
        >
        <g id="SVGRepo_bgCarrier" stroke-width="0" />
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
        <g id="SVGRepo_iconCarrier">
            <path
                d="M20.1498 7.93997L8.27978 19.81C7.21978 20.88 4.04977 21.3699 3.32977 20.6599C2.60977 19.9499 3.11978 16.78 4.17978 15.71L16.0498 3.84C16.5979 3.31801 17.3283 3.03097 18.0851 3.04019C18.842 3.04942 19.5652 3.35418 20.1004 3.88938C20.6356 4.42457 20.9403 5.14781 20.9496 5.90463C20.9588 6.66146 20.6718 7.39189 20.1498 7.93997V7.93997Z"
                stroke="#9290C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </g>
    </svg>

    <div class="field-1" >
        <div class="field-row">
            <div>
                <label for="fname">First Name:</label>
                <span id="fname">{{user_data.firstname | default('-', true)}}</span>
            </div>
            <div>
                <label for="lname">Last Name:</label>
                <span id="lname">{{user_data.lastname | default('-', true)}}</span>
            </div>
            <div>
                <label for="phone">Phone:</label>
                <span id="phone">{{user_data.phone_number | default('-', true)}}</span>
            </div>
        </div>
        <div class="field-row">
            <div>
                <label for="email">Contact Email:</label>
                <span id="email"> {{user_data.email | default('-', true)}} </span>
            </div>
            <div>
                <label for="city">City:</label>
                <span id="city">{{user_data.city | default('-', true)}}</span>
            </div>
            <div>
                <label for="country">Country:</label>
                <span id="country">{{user_data.country | default('-', true) }}</span>
            </div>
        </div>
    </div>
</div>