<!-- POPUP FOR ERRORS: -->
<div class="popupContainer">
    <div class="popup error">
        <span></span>
        <button class="close">&#10005;</button>
    </div>
</div>

<!-- modal for confirmation: -->
<dialog class="modal">
    <h2>Confirm</h2>
    <p> <!-- filled dynamically by JS --> </p>
    <div class="modalActions">
        <button class="cancelBtn">Cancel</button>
        <button class="confirmBtn" hx-post="" hx-target="" hx-trigger="click">
            <!--text and hx-attributes filled dynamically by JS --> </button>
    </div>
</dialog>


<h1 class="heading">Job Applications</h1>
<div class="tableContainer">
    <div class="tableHeader">
        <div class="btn-group" hx-get="/searchApplicationsTable" hx-target=".dataTable tbody" hx-swap="outerHTML"
            hx-vals="" hx-trigger="" hx-include="input[type='search']">
            <!-- include the search input in the filter request. Also, hx-vals and hx-trigger filled dynamically via JS -->
            <button class="btn active" data-filter="Pending">Pending</button>
            <button class="btn" data-filter="All-reviewed">All Reviewed</button>
            <button class="btn" data-filter="Accepted">Accepted</button>
            <button class="btn" data-filter="Rejected">Rejected</button>
        </div>
        <!-- btn-group as a dropdown for mobile devices: -->
        <select class=" mobile-btn-group" hx-get="/searchApplicationsTable" hx-target=".dataTable tbody" hx-swap="outerHTML"
            hx-vals="" hx-trigger="change" hx-include="input[type='search']">
            <option class="btn active" value="Pending">Pending</option>
            <option class="btn" value="All-reviewed">All Reviewed</option>
            <option class="btn" value="Accepted">Accepted</option>
            <option class="btn" value="Rejected">Rejected</option>
        </select>
        <input type="search" name="search" hx-get="/searchApplicationsTable"
            hx-trigger="input changed delay:500ms, search" hx-target=".dataTable tbody" hx-swap="outerHTML" hx-vals=""
            placeholder="search...">
    </div>
    <div class="tableWrapper">
        <table class="dataTable">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Applicant Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Location</th>
                    <th>Application Date</th>
                    <th>Resume</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% include 'partials/applications-table-results.html' %}
        </table>
    </div>
   

</div>

<script type="module">
    //MODAL SCRIPT:
    const table = document.querySelector('.dataTable');
    const modal = document.querySelector('dialog');
    const cancelBtn = document.querySelector('.cancelBtn');
    const confirmBtn = document.querySelector('.confirmBtn');
    table.addEventListener('click', (event) => { //Event Delegation: since table rows are dynamically added with dynamic searchbar, we would have had to re-assign event listeners to their delete buttons each time the table is updated. Instead, the event listener is assigned to the constant ancestor <table> which is always present and handles the click events for its rows' buttons
        const button = event.target.closest('button'); //'closest' helps find the closest ancestor 'button' of the element
        if (button && (button.classList.contains('accept') || button.classList.contains('reject'))) { //if 'button' is not null then the clicked element is indeed a button or its inner element, and so check if it's the delete button
            setupModal(button);
            modal.showModal();
        }
    });
    cancelBtn.addEventListener('click', () => {
        modal.close();
    });
    confirmBtn.addEventListener('click', () => {
        modal.close();
    });

    function setupModal(btn) {
        const row = btn.closest('tr'); //find the row for which the button was clicked
        const application_id = row.id.replace('row-', ''); //get the application id for the AJAX request using hx-post
        const cells = row.children;
        const jobTitle = cells[0].textContent; // get row details
        const company = cells[1].textContent;
        const applicantName = cells[2].textContent;
        const action = btn.getAttribute('data-action');
        const color = action === 'accept' ? 'green' : 'red';

        modal.querySelector('p').innerHTML = `Are you sure you want to <strong style="color:${color}">${action}</strong>  
        <strong>${applicantName}'</strong>s application for <strong>${jobTitle}</strong> at <strong>${company}</strong>?`;

        //add text & hx-attributes to the confirm button of the modal:
        confirmBtn.setAttribute('hx-post', `/updateApplicationStatus/${application_id}/${action}`);
        confirmBtn.setAttribute('hx-target', `#row-${application_id}`);
        confirmBtn.setAttribute('hx-swap', 'outerHTML swap:0.4s'); //replaces the entire .actions <td> after waiting 0.5s for css transition
        confirmBtn.textContent = action; //set button text to 'accept' or 'reject'
        htmx.process(confirmBtn); //without process(), the hx-attributes are not updated
    }

    //HTMX RESPONSE HANDLER:
    confirmBtn.addEventListener('htmx:afterRequest', (event) => { // check the reponse for success or error
        if (event.detail.xhr.status >= 200 && event.detail.xhr.status < 300) {
            return; // eat 5-star, do nothing
        } else {
            // Error response
            const popup = document.querySelector('.popupContainer');
            const errorResponse = JSON.parse(event.detail.xhr.responseText); //extract and log the error
            console.log('error: ', errorResponse.error);
            popup.querySelector('.popup.error > span').innerHTML = 'error occurred while updating status';
            popup.classList.add('show');
            popup.querySelector('.popup.error > button').addEventListener('click', () => {
                popup.classList.remove('show');
            });
        }
    });


    //FILTER SCRIPT:
    // for larger devices:
    const filterBtns = document.querySelectorAll('.btn-group > .btn');
    const filterGrp = document.querySelector('.btn-group');
    const searchbar = document.querySelector('input[type="search"]');
    const tableRows = document.querySelectorAll('tbody tr');

    filterBtns.forEach(btn => {
        btn.addEventListener('click', (event) => {
            event.preventDefault(); //prevent htmx request for now
            event.stopPropagation(); //stop the event from bubbling up
            if (btn.classList.contains('active')) return; //if the clicked button is already active, do nothing
            //otherwise:
            filterBtns.forEach(b => b.classList.remove('active'));
            btn.classList.add('active'); //activate the clicked button and deactivate any previously active button
            status = btn.getAttribute('data-filter');
            //hx-vals helps to pass the filter value to the server
            filterGrp.setAttribute('hx-vals', JSON.stringify({ filter: status })); //set hx-vals for btn-grp
            searchbar.setAttribute('hx-vals', JSON.stringify({ filter: status })); //set hx-vals for searchbar, for future use
            htmx.trigger(filterGrp, 'click'); //trigger the click event on the btn-grp to send AJAX request 
        });
    });
    //for mobile devices:
    const mobileFilterGrp = document.querySelector('.mobile-btn-group');
    // Listen for HTMX's configRequest event (allows us to configure the request before it's sent, a much more cleaner approach than what we did for 'larger devices')
    document.body.addEventListener('htmx:configRequest', (event) => {
        if (event.target === mobileFilterGrp) {
            // Get the selected value from the dropdown
            const selectedValue = mobileFilterGrp.value;
            // Dynamically add `filter` to the request's values
            event.detail.parameters.filter = selectedValue;
        }
    }); 

</script>