{%extends 'user-base.html'%}
{%block title%}Thank You{%endblock%}
{%block content%}
<main>
    <div class="messageContainer">
            <h1>Thank you for applying!</h1>
            <p>Your submission was successful, and we'll be reviewing it shortly. Stay tuned for updates!</p>
            <a href="/exploreJobs" class="apply default"><button id="button">Back to Jobs</button></a>
    </div>
    <div class="thank-you-img">
        <img src="static/images/thank-you-2.svg" class="" alt="">

    </div>
</main>
{%endblock%}